*.root
*.pdf
*.zip
*Output.txt
oldrootfiles/
outputRoot/
plots/
rootData/
stackPlots/
zippedData/
__pycache__/
Ztt/
plottingYields.txt
imgStackPlots/
imgPlots/
SBplots/
outputNTuples/
*.csv
*.png
nTupleGroups/
nnPlots/
hyperTuning/
nnModels/
